
Tablut/.DS_Store
gamelogs/_WHITE_vs_BLACK_1620923515237_gameLog.txt
out/artifacts/3Moschettieri_TABLUT_jar/gamelogs/_WHITE_vs_BLACK_1620574532001_gameLog.txt
out/artifacts/3Moschettieri_TABLUT_jar/gamelogs/_WHITE_vs_BLACK_1620574689859_gameLog.txt
out/artifacts/3Moschettieri_TABLUT_jar/gamelogs/_WHITE_vs_BLACK_1620575385957_gameLog.txt
